# Conditional Probability

In [14]:
import pandas as pd
import numpy as np

#create pandas DataFrame with raw data
df = pd.DataFrame({'gender': np.repeat(np.array(['Male', 'Female']), 150),
                   'sport': np.repeat(np.array(['Baseball', 'Basketball', 'Football',
                                                'Soccer', 'Baseball', 'Basketball',
                                                'Football', 'Soccer']), 
                                    (34, 40, 58, 18, 34, 52, 20, 44))})

#produce contingency table to summarize raw data
survey_data = pd.crosstab(index=df['gender'], columns=df['sport'], margins=True)

#view contingency table
survey_data

sport   Baseball  Basketball  Football  Soccer  All
gender
Female        34          52        20      44  150
Male          34          40        58      18  150
All           68          92        78      62  300

extract value in second row and first column

In [15]:
 
survey_data.iloc[1, 0]

34

calculate probability of being male, given that individual prefers baseball

In [16]:

survey_data.iloc[1, 0] / survey_data.iloc[2, 0]

0.5

calculate probability of preferring basketball, given that individual is female

In [17]:

survey_data.iloc[0, 1] / survey_data.iloc[0, 4]

0.3466666666666667